<h1>Health and Saftey Pig</h1>

<%= simple_form_for @term do |f| %>
  <%= f.input :word %>
  <%= f.button :submit, "Translate!", class: "btn btn-warning" %>
<% end %>


<div>
  <% counter = 1 %>
  <% @terms.each do |term| %>
  <p>Word <%= counter %>: <%= term.word %>
    <% if term.translation %>
    Translation: <%= term.translation.translation %> </p>
    <% end %>
  <% counter += 1 %>
  <% end  %>
  <%=  %>
</div>
